# Week 9 lab - Data pre-processing

In [1]:
#Mount the googledrive to access files
from google.colab import drive
drive.mount('/content/drive')
#Path of the file
#'/content/drive/MyDrive/......csv')

Mounted at /content/drive

# NSW Australia Property Data
We will import a sample of this large dataset

More info at:
https://www.kaggle.com/datasets/josephcheng123456/nsw-australia-property-data?resource=download

In [36]:
# Run the code to read a dataset using Pandas?
import pandas as pd

#change path based on your data location
dataset_path = '/content/drive/MyDrive/430031 notebooks/Week 9/Data/nsw_data_property_small.xlsx'
data = pd.read_excel(dataset_path)
# Display the first few rows of the dataframe
print(data.head())

   property_id download_date council_name  purchase_price  \
0     292689.0    2015-09-09           11           95000
1     292740.0    2015-09-09           11           85000
2          NaN    2015-09-09           11           18000
3          NaN    2015-09-09           11          135000
4     292764.0    2015-09-09           11           87000

                  address  post_code property_type    area area_type  \
0  19 GORDON ST, ABERDEEN       2336         house   749.2         M
1  53 GRAEME ST, ABERDEEN       2336         house   670.3         M
2     GRAEME ST, ABERDEEN       2336         house  1551.0         M
3     GRAEME ST, ABERDEEN       2336         house  5288.0         M
4    13 HALL ST, ABERDEEN       2336         house  1012.0         M

  contract_date   land_description               desc
0    1993-06-28  LOT 41 DP 566465.  LOT 41 DP 566465.
1    1993-01-04    LOT 6 DP 37633.    LOT 6 DP 37633.
2    1993-06-25  LOT 22 DP 830990.  LOT 22 DP 830990.
3    1993-10-07  LOT 70 DP 620669.  LOT 70 DP 620669.
4    1993-09-10   LOT 2 DP 329754.   LOT 2 DP 329754.

# Explore the dataset to identify the data quality issues

In [37]:
#Explore the datatypes to check if they are suitable
print(data.dtypes)

#Q: What do you think?
#property_id is it float? post_code is int?

property_id                float64
download_date       datetime64[ns]
council_name                object
purchase_price               int64
address                     object
post_code                    int64
property_type               object
area                       float64
area_type                   object
contract_date       datetime64[ns]
land_description            object
desc                        object
dtype: object

In [38]:
#Use the astype() method to change the data type of a column
data['property_id'] = data['property_id'].astype(object)
data['post_code'] = data['post_code'].astype(object)
print(data.dtypes)

property_id                 object
download_date       datetime64[ns]
council_name                object
purchase_price               int64
address                     object
post_code                   object
property_type               object
area                       float64
area_type                   object
contract_date       datetime64[ns]
land_description            object
desc                        object
dtype: object

## Missing values

In [41]:
# Question 1: Use isnull() or info() function in Pandas to identify the missing values?
print(data.shape)
missing_values_per_column = data.isnull().sum()
print(missing_values_per_column)

(104, 12)
property_id         48
download_date        0
council_name         0
purchase_price       0
address              0
post_code            0
property_type        0
area                25
area_type           25
contract_date        0
land_description     0
desc                 0
dtype: int64

# Data cleaning to solve data quality issues

## Handling missing values by droping rows

In [43]:
# Question 2: Handle missing values by removing rows with missing values in a Pandas DataFrame using dropna() method?

#assign data to another variable called data_no_missing_values to avoid changes on the same dataset
data_no_missing_values = data.dropna()
data_no_missing_values.head()

#Show the stats of null values
print(data_no_missing_values.isnull().sum())

property_id         0
download_date       0
council_name        0
purchase_price      0
address             0
post_code           0
property_type       0
area                0
area_type           0
contract_date       0
land_description    0
desc                0
dtype: int64

In [44]:
#How many rows have been removed?
rem_rows=len(data) - len(data_no_missing_values)
print("Number of rows removed:", rem_rows)

Number of rows removed: 70

## Handling missing values by data imputation


*   if the variable is numerical, replace the missing values by mean or median
*   if the variable is non-numerical (categorical), replace the missing values by most frequent value

In [45]:
# Question 3: Handle missing values by replacing numerical missing values with the mean in a Pandas DataFrame using fillna method?

#identify the numerical variables first
numerical_columns = data.select_dtypes(include=['int', 'float']).columns

#iterate over each column and relpalce missing by mean
for column in numerical_columns:
  mean_value = data[column].mean()
  data[column].fillna(mean_value, inplace=True)

print(data.head())

#Any issues you notice after the showing the results?property_id?

  property_id download_date council_name  purchase_price  \
0    292689.0    2015-09-09           11           95000
1    292740.0    2015-09-09           11           85000
2         NaN    2015-09-09           11           18000
3         NaN    2015-09-09           11          135000
4    292764.0    2015-09-09           11           87000

                  address post_code property_type    area area_type  \
0  19 GORDON ST, ABERDEEN      2336         house   749.2         M
1  53 GRAEME ST, ABERDEEN      2336         house   670.3         M
2     GRAEME ST, ABERDEEN      2336         house  1551.0         M
3     GRAEME ST, ABERDEEN      2336         house  5288.0         M
4    13 HALL ST, ABERDEEN      2336         house  1012.0         M

  contract_date   land_description               desc
0    1993-06-28  LOT 41 DP 566465.  LOT 41 DP 566465.
1    1993-01-04    LOT 6 DP 37633.    LOT 6 DP 37633.
2    1993-06-25  LOT 22 DP 830990.  LOT 22 DP 830990.
3    1993-10-07  LOT 70 DP 620669.  LOT 70 DP 620669.
4    1993-09-10   LOT 2 DP 329754.   LOT 2 DP 329754.

In [46]:
numerical_columns

Index(['purchase_price', 'area'], dtype='object')

In [47]:
# Question 4: How do you handle missing values by replacing categorical missing values with the most frequent value in a Pandas DataFrame?

#identify the non-numeric variables first
categorical_columns = data.select_dtypes(include='object').columns

#iterate over each column and relpalce missing by mode
for column in categorical_columns:
  mode_value = data[column].mode()[0]
  data[column].fillna(mode_value, inplace=True)
print(data.head())

   property_id download_date council_name  purchase_price  \
0     292689.0    2015-09-09           11           95000
1     292740.0    2015-09-09           11           85000
2     292740.0    2015-09-09           11           18000
3     292740.0    2015-09-09           11          135000
4     292764.0    2015-09-09           11           87000

                  address post_code property_type    area area_type  \
0  19 GORDON ST, ABERDEEN      2336         house   749.2         M
1  53 GRAEME ST, ABERDEEN      2336         house   670.3         M
2     GRAEME ST, ABERDEEN      2336         house  1551.0         M
3     GRAEME ST, ABERDEEN      2336         house  5288.0         M
4    13 HALL ST, ABERDEEN      2336         house  1012.0         M

  contract_date   land_description               desc
0    1993-06-28  LOT 41 DP 566465.  LOT 41 DP 566465.
1    1993-01-04    LOT 6 DP 37633.    LOT 6 DP 37633.
2    1993-06-25  LOT 22 DP 830990.  LOT 22 DP 830990.
3    1993-10-07  LOT 70 DP 620669.  LOT 70 DP 620669.
4    1993-09-10   LOT 2 DP 329754.   LOT 2 DP 329754.

In [48]:
#Check again the previous code to see if any missing value exist
missing_values_per_column = data.isnull().sum()

# Display the number of missing values per column
missing_values_per_column

property_id         0
download_date       0
council_name        0
purchase_price      0
address             0
post_code           0
property_type       0
area                0
area_type           0
contract_date       0
land_description    0
desc                0
dtype: int64

## Duplications

In [49]:
# Question 5: Find the duplicate rows using duplicated() method?

# Check for duplicate rows
duplicate_rows = data[data.duplicated()]
print(duplicate_rows.shape)
print(duplicate_rows)

(3, 12)
     property_id download_date council_name  purchase_price  \
101     292740.0    2015-09-09           11           85000
102     292740.0    2015-09-09           11           18000
103     292740.0    2015-09-09           11          135000

                    address post_code property_type    area area_type  \
101  53 GRAEME ST, ABERDEEN      2336         house   670.3         M
102     GRAEME ST, ABERDEEN      2336         house  1551.0         M
103     GRAEME ST, ABERDEEN      2336         house  5288.0         M

    contract_date   land_description               desc
101    1993-01-04    LOT 6 DP 37633.    LOT 6 DP 37633.
102    1993-06-25  LOT 22 DP 830990.  LOT 22 DP 830990.
103    1993-10-07  LOT 70 DP 620669.  LOT 70 DP 620669.

In [50]:
# Question 6: Find the duplicate columns using duplicated() method?

#Transpose the dataset first then call .duplicated()
duplicate_columns = data.transpose().duplicated()
print(duplicate_columns)

property_id         False
download_date       False
council_name        False
purchase_price      False
address             False
post_code           False
property_type       False
area                False
area_type           False
contract_date       False
land_description    False
desc                 True
dtype: bool

## Handling duplicates


*   Remove duplicate rows
*   Remove duplicate columns

In [51]:
# Question 7: How to Remove duplicate rows drop_duplicates()?

# Remove duplicate rows
data.drop_duplicates(inplace=True)

# Check duplicates row
print(data[data.duplicated()])

Empty DataFrame
Columns: [property_id, download_date, council_name, purchase_price, address, post_code, property_type, area, area_type, contract_date, land_description, desc]
Index: []

In [52]:
# Question 8: Remove duplicate columns?

#Transpose the data
df_transposed=data.transpose()
df_transposed.drop_duplicates(inplace=True)
data=df_transposed.transpose()

print(data.head())

  property_id download_date council_name purchase_price  \
0    292689.0    2015-09-09           11          95000
1    292740.0    2015-09-09           11          85000
2    292740.0    2015-09-09           11          18000
3    292740.0    2015-09-09           11         135000
4    292764.0    2015-09-09           11          87000

                  address post_code property_type    area area_type  \
0  19 GORDON ST, ABERDEEN      2336         house   749.2         M
1  53 GRAEME ST, ABERDEEN      2336         house   670.3         M
2     GRAEME ST, ABERDEEN      2336         house  1551.0         M
3     GRAEME ST, ABERDEEN      2336         house  5288.0         M
4    13 HALL ST, ABERDEEN      2336         house  1012.0         M

  contract_date   land_description
0    1993-06-28  LOT 41 DP 566465.
1    1993-01-04    LOT 6 DP 37633.
2    1993-06-25  LOT 22 DP 830990.
3    1993-10-07  LOT 70 DP 620669.
4    1993-09-10   LOT 2 DP 329754.

**Data cleaning has been completed, and there are no more missing values or duplicates in the dataset. It is now ready for data analysis.**